<footer style="background-image: url('assets/images/footer.jpg');" class="footer-section bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>About Imaginators</h3>
                <p>Imaginators helps you to showcase your work professionally and interactively. Now you can build your
                    online portfolio and create interactive presentations for your work just by dragging and dropping
                    the content and customizing the design of your presentation. You can add animations and several
                    content visualizing elements in your presentation to make it more catchy and interactive.</p>
            </div>
            <div class="col-md-3 ml-auto">
                <h3>Links</h3>
                <ul class="list-unstyled footer-links">
                    <li><a href="#">About</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Jobs</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">Newsletter</a></li>
                </ul>
            </div>
            <div class="col-md-3 ml-auto">
                <h3>Links</h3>
                <ul class="list-unstyled footer-links">
                    <li><a href="#">Graphic Design</a></li>
                    <li><a href="#">Brand Identity</a></li>
                    <li><a href="#">Digital Type Design</a></li>
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">Icon Design</a></li>
                </ul>
            </div>
            <div class="col-md-3 ml-auto">
                <h3>Links</h3>
                <ul class="list-unstyled footer-links">
                    <li><a href="#">Live Chat</a></li>
                    <li><a href="#">Send Email</a></li>
                    <li><a href="#">Send Message</a></li>
                    <li><a href="#">Call us</a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>