<div class="site-section" id="teachers-section">
  <div class="container">

    <div class="row mb-5 justify-content-center">
      <div class="col-lg-7 mb-5 text-center aos-init aos-animate">
        <h2 class="section-title">Social Media</h2>
      </div>
    </div>

    <div class="row">

      <div class="col-md-6 col-lg-4 mb-4 aos-init">
        <div class="teacher text-center">
          <img src="../../assets/images/sabrina.jpg" alt="Image" class="img-fluid w-50 rounded-circle mx-auto mb-4">
          <div class="py-2">
            <h3 class="text-black">Sabrina Kipper</h3>
            <p class="position">Product Hunt</p>
            <p>Looks great! I usually make my presentations with Powerpoint(using ready-made latest powerpoint themes),
              this is comfortable for me. But always looking for some new features and programs. Thank you!</p>
          </div>
        </div>
      </div>


      <div class="col-md-6 col-lg-4 mb-4 aos-init">
        <div class="teacher text-center">
          <img src="../../assets/images/naty.jpg" alt="Image" class="img-fluid w-50 rounded-circle mx-auto mb-4">
          <div class="py-2">
            <h3 class="text-black">Naty Cabarcos</h3>
            <p class="position">Twitter</p>
            <p>Do you want to make a Super Pro presentation? I recommend to you this online platform designed for you to
              look professional and interactive. It is called imginators.com and has many advantages with a drag and
              drop-based interface.</p>
          </div>
        </div>
      </div>


      <div class="col-md-6 col-lg-4 mb-4 aos-init">
        <div class="teacher text-center">
          <img src="../../assets/images/richard.jpg" alt="Image" class="img-fluid w-50 rounded-circle mx-auto mb-4">
          <div class="py-2">
            <h3 class="text-black">Richard Pariath</h3>
            <p class="position">Product Hunt</p>
            <p>I liked the fact that you can get ideas from others and it's designed more like a social media platform
              with many options for presentation.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>