<div class="intro-section" id="about-section">
      
    <div class="slide-1" style="background-image: url('assets/images/presentation.jpg');" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12">
            <div class="row align-items-center">
              <div class="col-lg-6 mb-4">
                <h1 >Set Free Your Inner Designer</h1>
                <p class="mb-4">Be a part of this new era of content visualisation with our new online presentation maker. Your priceless time is our priority, visualizing your ideas and content as a catchy interactive presentation is what Imaginators is all about.</p>
                <p><a href="#" class="btn btn-primary py-3 px-5 btn-pill">Get Started</a></p>

              </div>

              <div class="col-lg-5 ml-auto">

                <app-form></app-form>

              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>